*{
    box-sizing: border-box;
}
body{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}
.audioscreen{
    cursor: pointer;
}
.controls{
    width: 100%;
    background-color: #222;
    color: #ffff;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px 0;
}
.ctrl-btn{
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 5px;
}
.progress-container{
    width: 70%;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;

    overflow: hidden;
}
.progress{
    width: 0%;
    height: 100%;
    background-color: steelblue;

    transition: width 0.1s linear;
}
.volumeprogress{
    margin: 0 1px;
}
.ctrl-btn .fa-play{
    color: steelblue;
}
.ctrl-btn .fa-stop{
    color: tomato;
}
.ctrl-btn .fa-pause{
    color: #fff;
}
.displaytime{
    padding-right: 10px;
}