*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #f4f4f4;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-control,.btn{
    padding: 10px;
}
#game-container span{
    display: block;
}
