body{
    max-width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;

    overflow-x: hidden;
}
.box{
    background-color: steelblue;
    color: #fff;

    position: absolute;
    cursor: move;
}
#boxtitle{
    padding: 10px;
}
.btn-icon{
    width: 2rem;
    height: 2rem;
    background-color: steelblue;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;

    margin: 2px 0px;
    cursor: pointer;

    transition: all 0.5s;

    z-index: -1;
}

.btns.show .btn-icon:nth-of-type(1){
    left: 0;
    bottom: 40px;
}
.btns.show .btn-icon:nth-of-type(2){
    left: 50px;
    bottom: 40px;
}
.btns.show .btn-icon:nth-of-type(3){
    left: 0;
    bottom: 80px;
}
.btns.show .btn-icon:nth-of-type(4){
    left: 50px;
    bottom: 80px;
}