*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 700px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
.btn{
    width: 20%;
    background-color: steelblue;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;

    float: left;

    transition: background-color 0.3s;
}
.btn:hover{
    background-color: darkblue;
}
.clear{
    clear: both;
}
.year-btn{
    float: right;
}
.month-btn,.year-btn{
    position: relative;
}
.dropdown{
    width: 150px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;


    position: absolute;
    left: 0;
    /* top: 0; */

    z-index: 1;

    display: none;

    overflow: hidden;
}
.dropdown .dropdown-item{
    padding: 5px 0;
    cursor: pointer;
    opacity: 0.6;

    transition: all 0.2s;
}
.dropdown .dropdown-item:hover{
    background-color: steelblue;
    color: #fff;
    opacity: 1;
}

.days .dayname{
    background-color: steelblue;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

.caldates .days .day{
    width: 10%;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid steelblue;
    padding: 3px;
    margin: 3px;

    float: left;
}
.caldates .days .day.blank{
    background-color: #fff;
    border: none;
}
.caldates .days .day.selected{
    background-color: green;
    color: #fff;
    opacity: 0.5;
    cursor: pointer;

    transition: opacity 0.5s;
}
.caldates .days .day.selected:hover{
    opacity: 1;
}